@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Original Surfer', cursive;
  user-select: none;
}

.row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vh 3vh 0 3vh;

  .nav {
    align-items: center;
    float: right;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 2em;

        .link {
          display: flex;
          justify-content: space-between;
          align-items: center;
          list-style-type: none;
          color: #717168;

          .icons {
            margin-right: 15px;
            font-size: 5vh;
          }
        }
      }
    }
  }
}

/*  MENU */
.menu {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  //background-color: #262623;
  color: black;
  opacity: 0.6;

  ul {
    display: inline-flex;
    justify-content: space-between;
    overflow: hidden;

    li {
      //margin-top: 1vh6
      margin-right: 6em;
      //margin-bottom: 1em;
      text-transform: uppercase;
      list-style-type: none;

      .link {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 25px 20px 12px;
        text-decoration: none;
        font-size: 17px;
        border-bottom: 3px solid transparent;

        &:hover {
          border-bottom: 3px solid red;
        }
      }
    }
  }
}

/*  CAROUSEL  */
.images {
  .images0 {
    .image {
      width: 55vh;
      height: 50vh;
      margin-top: 5vh;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      border-radius: 12px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

      img {
        width: 55vh;
        height: 50vh;
        border-radius: 12px;

      }
    }

    .text {
      margin-left: -9vh;
      text-align: center;
    }
  }


  .images1 {
    margin-left: 10vh;
    margin-top: 8vh;
  }

  .images2 {
    margin-left: -6vh;
  }

  .images3 {
    margin-left: -3em;
    margin-top: 8vh;

  }
}

/*  FOOTER  */
.page-footer {
  margin-left: 10em;

  .footer-copyright {
    margin-left: -14em;
  }
}

/*  ABOUT PAGE  */
.about {
  margin-top: 3em;

  .img1 {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }

  .img2 {
    box-shadow: rgba(17, 17, 26, 0.1) 0 4px 16px, rgba(17, 17, 26, 0.1) 0 8px 24px, rgba(17, 17, 26, 0.1) 0 16px 56px;
  }

  .aboutImg {
    img {
      width: 100%;
      height: 50vh;
    }
  }

}


/*  GALLERY */

.icon{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 3em;
}


